<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915034731337-kpac50v0rri487h5uu7o9au5hnumh79f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915034731337-kpac50v0rri487h5uu7o9au5hnumh79f</string>
	<key>API_KEY</key>
	<string>AIzaSyDS8Ow_OcOX6hD1B-VyKhXBd2Y8785-cF4</string>
	<key>GCM_SENDER_ID</key>
	<string>915034731337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moviesApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-notification-11727</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notification-11727.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915034731337:ios:69ccdd785ffea44538a098</string>
</dict>
</plist>